/*** DISPLAY TEMPLATE ***/

main {
    display: grid;
    grid-template-areas: 
        "title      title"
        "skills     projects"
        "skills     experience"
        "skills     education";
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
}

#main-title {
    grid-area: title;
}

.container#skills {
    grid-area: skills;
}

.container#projects {
    grid-area: projects;
}

.container#experience {
    grid-area: experience;
}

.container#education {
    grid-area: education;
}

/* STYLES */

.container h3 {
    border-bottom: dotted 3px black;
}

.container {
    padding: 0 1rem 1rem 0;
}

/** SKILLS **/

#skills ul {
    padding-left: 1rem;
}

#skills ul ul {
    padding-left: 1rem;
}

.skills-item-1 {
    font-size: medium;
    border-bottom: solid black 0.5px;
}

.skills-item-2 {
    font-size: small;
}
/** PROJECTS **/

#projects ul {
    padding-left: 1rem;
}

#projects ul li {
    padding: 0.5rem 0 0.5rem 0;
    transition: all 0.3s ease-in;
    /* width: 50%; */
}

#projects ul li a {
    color: black;
    transition: all 0.3s ease-in;
}

#projects ul li:hover {
    transform: translateX(1rem);
}

#projects ul li:hover a {
    color: #4261d9;
    font-weight: 700;
}

/* RESPONSIVE WEB VIEW */

@media (max-width: 768px) {
    main {
        grid-template-areas:
            "title   "
            "skills  "
            "projects"
            "experience"
            "education";
        grid-template-columns: 1fr;
    }
}