/* DISPLAY TEMPLATE */

main.main-content {
    display: grid;
    grid-template-areas: 
        "header         header"
        "project-1      project-2"
        "project-3      project-4"
        "project-5      project-6"
        "footer         footer";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
}

header {
    grid-area: header;
}

footer#copyright {
    grid-area: footer;
}

.container header {
    width: 100%;
    border-bottom: dotted black 3px;
}

main main {
    margin: 0;
}

.container {
    padding: 0 1rem 2rem 1rem;
}

.container header {
    margin-bottom: 1.5rem;
}

/* STYLES */

p a {
    color: #4261d9;

}

.container footer {
    text-align: center;
    margin-top: 1.5rem;
}

main > p {
    font-weight: 600;
}

.project > main {
    padding: 0 0.5rem 0 0.5rem;
}

.project-link {
    border: solid black 1px;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem 0.35rem 0.5rem;
    transition: all 0.3s ease-in-out;
}

.project-link:hover {
    background-color: #4261d9;
    border: none;
    color: aliceblue;
}

.project-link.unavailable:hover {
    /* opacity: 0.5; */
    cursor: not-allowed;
    background-color: #c43131;
}

/* PROJECT 1 */

.container#project-1 {
    grid-area: project-1;
}

/* PROJECT 2 */

.container#project-2 {
    grid-area: project-2;
}

/* PROJECT 3 */

.container#project-3 {
    grid-area: project-3;
}

/* PROJECT 4 */

.container#project-4 {
    grid-area: project-4;
}

/* PROJECT 5 */

.container#project-5 {
    grid-area: project-5;
}

/* PROJECT 6 */

.container#project-6 {
    grid-area: project-6;
}

/* RESPONSIVE WEB VIEW */

@media (max-width: 768px) {
    main.main-content {
        grid-template-areas:
            "header     "
            "project-1  "
            "project-2  "
            "project-3  "
            "project-4  "
            "project-5  "
            "project-6  "
            "footer     ";
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}