.container {
    display: flex;
    padding: 0 2rem 0.5rem 2rem;
    margin: 1rem 10rem 1rem 10rem;
}

.skill-tab {
    width: 100%;
}

.skill-tab h3 {
    border-bottom: dotted 3px black;
}

@media (max-width: 768px) {
    .container {
        margin: 1rem;
        /* padding: 0 2rem 0.5rem 2rem */
    }
}