/* UNIVERSAL STYLES */

* {
    background-color: aliceblue;
    list-style-type: none;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: color .3s ease-in-out;
}

body {
    margin: 0px;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
}
.navbar ul {
    display: flex;
    gap: 0.5rem;
    padding-left: 0;
}

.navbar li div {
    display: flex;
    min-width: 4.5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar li .inactive {
    
    transition: all .5s ease-in-out;
}

.navbar li .active a {
    color: #008722;
    font-weight: 600;
    /* text-decoration: underline double 0.5px; */
}

.navbar li:hover .inactive {
    transform: translateY(-2px);
}

.navbar li:hover .inactive a {
    transition: all .5s ease-in-out;
    color: #4261d9;
    font-weight: 600;
}

/* MAIN CONTENT */

/** TITLE **/

main {
    margin: 0 1rem 0 1rem;
}

main header * {
    margin: 0;
}

main header {
    width: 20rem;
    margin: 1rem auto 3rem auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/** SECTIONS **/
.container {
    border: solid 1px;
    border-radius: 0.25rem;
}

.inner-container {
    padding-left: 1rem;
}

/* FOOTER */

footer#copyright {
    text-align: center;
    bottom: 0;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}
